@media(max-width: 599px) {
    
    .center {
            padding-left: calc(50% - 142px);
            padding-right: calc(50% - 142px);
    }

    body {
        width: 200%;
        height: 100%;
        
    }

    .sem_home {
        padding: 5%;
        width: 80%;
        height: auto;
    }
    
    
    .header {
        width: 41%;
        height: auto;
        gap: 20%;
    }

    .header_txt {
        font-size: 120%ъЭ;
    }


    .top__content {
        
        width: auto;
        padding: 3%;
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    .top__info {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .txt__h2 {
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

    .meg {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .txt_h1 {
        font-size: 30px;
        width: 80%;
        text-align: center;
    }

    .txt__p2 {
        font-size: 16px;
        width: 55%;
        height: auto;
        text-align: center;
    }


    .top__buttons {
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .b_1 {
        margin: 10px;
        width: 20%;
    }

    .b_2 {
        flex-direction: row;
    }

    .imging {
        width: 70%;
        margin: 60px;
    }

    .top__logo {
        width: 41%;
        height: auto;
    }

    .tree {
        width: 82%;
        height: auto;
        justify-content: center;
    }

    .tree_img {
        display: flex;
        justify-content: center;
    }

    .tree_img1 {
        width: 65%;
    }

    .tree_h1 {
        font-size: 26px;
        width: 90%;
        text-align: center;
    }

    .tree_h2 {
        text-align: center;
        width: 90%;
        height: auto;
    }

    .tree_text {
        width: auto;
        justify-content: center;
        margin-top: 0px;
    }

    .hidden_cards {
        display: none;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
        height: auto;
        width: 87%;
    }

    .cards_small {
        width: 80%;
        height: auto;
        flex-direction: column;
    }

    .cards_txts {
        width: 60%;
    }

    p {
        width: 60%;
    }

    .about_sayt {
        width: 84%;
        height: auto;
        justify-content: center;
    }

    .one_slayd {
        width: 100%;
        height: auto;
        align-items: center;
    }

    .one_h1 {
        font-size: 26px;
        text-align: center;
    }

    .one-parag {
        font-size: 16px;
    }

    .parag1 {
        text-align: center;
        width: 80%;
    }

    .second_slayd {
        width: auto;
    }

    .slayd_1 {
        width: 100%;
    }

    .footer {
        width: 85%;
        height: auto;
    }

    .footer_info {
        align-content: flex-start;
    }

    .about_contact {
        display: flex;
        align-content: center;
        align-items: center;
        margin-top: -10%;
    }
}